<div id="<%= dom_id book %>">
  <p>
    <strong>Titulo:</strong>
    <%= book.titulo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= book.nota %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= book.autor %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= book.picture %>
  </p>

</div>
